# Entorno virtual
venv/
env/
.env

# Directorio de repositorios clonados y analisis
cloned_repos/
sboms/
analysis_results/

# Python
__pycache__/
*.pyc
*.pyo

# Archivos de SO
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints/
