# Análisis de Datos y Visualización
pandas
matplotlib
seaborn

# Comunicación con API de GitHub y manejo de red
requests
python-dotenv

# Utilidades de tiempo para el filtrado
python-dateutil

# Generación de SBOM – CLI (debe estar en el PATH)
syft-cli

# Herramientas de Escaneo de Vulnerabilidades - CLI (deben estar en el PATH)
grype-cli
trivy-cli

# Entorno de Jupyter
jupyter
ipykernel