# Análisis de Datos y Visualización
pandas
matplotlib
seaborn

# Comunicación con API de GitHub y manejo de red
requests
python-dotenv

# Utilidades de tiempo para el filtrado
python-dateutil

# Entorno de Jupyter
jupyter
ipykernel